body {
  background-color: darkgrey;
}

p {
  text-align: center;
}

h2 {
  text-align: center
}

h3 {
  text-align: center;
  color: darkgreen
}

img {
  display: block;
}

#p1_id {
  color: rebeccapurple;
}